<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
    <meta charset="UTF-8">
    <title th:text="#{usuario.cadastro.titulo}">Cadastro</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1 th:text="#{usuario.cadastro.titulo}">Cadastro de Usuário</h1>
<p th:if="${erro}" th:text="${erro}" style="color: red;"></p>
<form th:action="@{/usuarios/cadastro}" th:object="${usuarioDTO}" method="post">
    <div>
        <label for="nome" th:text="#{usuario.nome}">Nome:</label>
        <input type="text" id="nome" th:field="*{nome}" required>
    </div>
    <div>
        <label for="sobrenome" th:text="#{usuario.sobrenome}">Sobrenome:</label>
        <input type="text" id="sobrenome" th:field="*{sobrenome}" required>
    </div>
    <div>
        <label for="email" th:text="#{usuario.email}">email:</label>
        <input type="text" id="email" th:field="*{email}">
    </div>
    <div>
        <label for="senha" th:text="#{usuario.senha}">Senha:</label>
        <input type="password" id="senha" th:field="*{senha}" required>
    </div>
    <div>
        <label for="cep" th:text="#{usuario.cep}">CEP:</label>
        <input type="text" id="cep" th:field="*{cep}">
    </div>
    <div>
        <button type="submit" th:text="#{usuario.botao.cadastrar}">Cadastrar</button>
    </div>
</form>
</body>
</html>
