<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
    <meta charset="UTF-8">
    <title th:text="#{home.titulo}">Início</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="~{fragments/header-login :: header-login}"></div>
<header class="header">
    <h1>
        <span th:text="#{home.ola}">Olá</span>,
        <strong th:text="${usuario.nome}">Usuário</strong>
    </h1>
</header>

<main class="sos-container">
    <p>
        <span th:utext="#{home.ajudaTexto}">
            A ajuda está a um clique de distância! Clique no <span class='highlight'>SOS</span> para pedir ajuda.
        </span>
    </p>
    <button class="sos-button" th:text="#{home.botao.sos}">SOS</button>
</main>

</body>
</html>
