<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
    <meta charset="UTF-8">
    <title th:text="#{usuario.login.titulo}">Login</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="login-body">
<div th:replace="~{fragments/header :: header}"></div>
<div class="form-container">
<div class="login-container">

    <div class="logo-form">
    <img class="logo-img" th:src="@{/images/orbis.png}" alt="Orbis Logo" />
    </div>
    <h1 th:text="#{usuario.login.titulo}" class="login-title">Login de Usuário</h1>

    <p th:if="${erro}" th:text="${erro}" class="login-error"></p>

    <form th:action="@{/usuarios/login}" method="post" class="login-form">
        <div class="form-group">
            <label for="username" th:text="#{usuario.email}">Email:</label>
            <input type="text" id="username" name="username" required />
        </div>

        <div class="form-group">
            <label for="password" th:text="#{usuario.senha}">Senha:</label>
            <input type="password" id="password" name="password" required />
        </div>

        <div class="form-group">
            <button type="submit" th:text="#{usuario.botao.entrar}" class="login-button">Entrar</button>
        </div>
    </form>
</div>
</div>

</body>
</html>
