<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
    <meta charset="UTF-8" />
    <title th:text="#{editarPerfil.titulo}">Editar Perfil</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body class="edit-profile-body">

<div th:replace="~{fragments/header-login :: header-login}"></div>

<div class="form-container">
<main class="edit-profile-container">

    <h1 class="edit-profile-title" th:text="#{editarPerfil.titulo}">Editar Perfil</h1>

    <div th:if="${error}" class="edit-profile-error error">
        <p th:text="${error}">Erro</p>
    </div>

    <div th:if="${success}" class="edit-profile-success success">
        <p th:text="${success}">Sucesso</p>
    </div>

    <form
            th:action="@{/usuarios/editar/{id}(id=${usuario.usuarioId})}"
            method="post"
            th:object="${usuario}"
            class="edit-profile-form"
    >
        <input type="hidden" name="_method" value="patch" />
        <input type="hidden" th:field="*{usuarioId}" />

        <div class="form-group">
            <label for="nome" th:text="#{editarPerfil.nome}">Nome:</label>
            <input id="nome" type="text" th:field="*{nome}" required class="input-text"/>
        </div>

        <div class="form-group">
            <label for="sobrenome" th:text="#{editarPerfil.sobrenome}">Sobrenome:</label>
            <input id="sobrenome" type="text" th:field="*{sobrenome}" required class="input-text"/>
        </div>

        <div class="form-group">
            <label for="email" th:text="#{editarPerfil.email}">Email:</label>
            <input id="email" type="email" th:field="*{email}" required class="input-text"/>
        </div>

        <div class="form-group">
            <label for="cep" th:text="#{editarPerfil.cep}">CEP:</label>
            <input id="cep" type="text" th:field="*{cep}" required class="input-text"/>
        </div>

        <div class="form-group">
            <label for="senha" th:text="#{editarPerfil.novaSenha}">Nova senha:</label>
            <input id="senha" type="password" th:field="*{senha}" class="input-text"/>
        </div>

        <button type="submit" class="btn-submit" th:text="#{editarPerfil.salvarAlteracoes}">
            Salvar alterações
        </button>
    </form>

    <form th:action="@{/usuarios/deletarUsuario/{id}(id=${usuario.usuarioId})}" method="post"
          onsubmit="return confirm('Tem certeza que deseja deletar sua conta? Esta ação não pode ser desfeita.')">
        <input type="hidden" name="_method" value="delete"/>
        <button type="submit" class="btn-delete" th:text="#{editarPerfil.deletarConta}">Deletar Conta</button>
    </form>

</main>
</div>

</body>
</html>
