<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/styles.css}">
<body>
<div th:fragment="header">
    <header class="header-orbis">
        <div class="header-content">
            <div class="logo-header">
                <img th:src="@{/images/orbis.png}" alt="Orbis Logo" />
            </div>

            <div class="language-selector">
                <a href="?lang=pt">Português</a> | <a href="?lang=en">English</a>
            </div>

            <nav class="nav-menu">
                <ul>
                    <li><a th:href="@{/usuarios/login}" class="btn-login" th:text="#{menu.login}">Login</a></li>
                    <li><a th:href="@{/usuarios/cadastro}" class="btn-cadastro" th:text="#{menu.cadastro}">Cadastro</a></li>
                </ul>
            </nav>
        </div>
    </header>
</div>
</body>
</html>
