<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/styles.css}">
<body>
<div th:fragment="header">
    <header class="header-orbis">
        <div class="header-content">
            <div class="logo-header">
                <img th:src="@{/images/orbis.png}" alt="Orbis Logo" />
            </div>


            <nav class="nav-menu">
                <ul>
                    <li><a th:href="@{/usuarios/login}" class="btn-login" th:text="#{menu.login}">Login</a></li>
                    <li><a th:href="@{/usuarios/cadastro}" class="btn-cadastro" th:text="#{menu.cadastro}">Cadastro</a></li>
                </ul>
            </nav>

            <div class="language-selector">
                <a href="?lang=pt"><img src="/images/bandeira-brasil.png" alt="Português"  class="language-brasil" width="35" height="35"></a>

                <a href="?lang=en"><img src="/images/bandeira-ru.png" alt="English" width="40" height="40"></a>

            </div>
        </div>
    </header>
</div>
</body>
</html>
