<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:fragment="header-login">
    <header class="header-orbis">
        <div class="header-content">
            <div class="logo-header">
                <img th:src="@{/images/orbis.png}" alt="Orbis Logo" />
            </div>


            <nav class="nav-menu">
                <ul>
                    <li><a th:href="@{/home}" th:text="#{menu.home}">Home</a></li>
                    <li><a th:href="@{/emergencia}" th:text="#{menu.emergencias}">Emergências</a></li>

                    <li>
                        <a th:href="@{/usuarios/editar/{id}(id=${usuario.usuarioId})}"
                           th:text="#{menu.editar-usuario}">
                            Editar Usuário
                        </a>
                    <li><a th:href="@{/usuarios/logout}" th:text="#{menu.logout}">Sair</a></li>
                    <div class="language-selector">
                        <a href="?lang=pt"><img src="/images/bandeira-brasil.png" alt="Português"  class="language-brasil" width="35" height="35"></a>

                        <a href="?lang=en"><img src="/images/bandeira-ru.png" alt="English" width="40" height="40"></a>

                    </div>


                </ul>
            </nav>
        </div>
    </header>
</div>
</body>
</html>
