<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/styles.css}">
<body>
<div th:fragment="header-login">
    <header class="header-orbis">
        <div class="header-content">
            <div class="logo-header">
                <img th:src="@{/images/orbis.png}" alt="Orbis Logo" />
                <span class="app-name" th:text="#{app.name}">Orbis</span>
            </div>

            <nav class="nav-menu">
                <ul>
                    <li><a th:href="@{/home}" th:text="#{menu.home}">Home</a></li>
                    <li><a th:href="@{/match}" th:text="#{menu.match}">Match</a></li>
                    <li><a th:href="@{/doacoes}" th:text="#{menu.doacoes}">Doações</a></li>
                    <li><a th:href="@{/emergencia}" th:text="#{menu.emergencias}">Emergências</a></li>
                    <a th:href="@{/usuarios/editarUsuario/{id}(id=${usuarioDTO.usuarioId})}">Editar</a>
                    <li><a th:href="@{/usuario/logout}" th:text="#{menu.logout}">Sair</a></li>
                </ul>
            </nav>
        </div>
    </header>
</div>
</body>
</html>
